html {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  color: #211816;
}

.all-wrapper {
  width: 100vw;
  height: auto;
  background-color: #F6F2EB;
}
.all-wrapper h1 {
  width: 100vw;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  background-color: #211816;
}
.all-wrapper .main-block-wrapper {
  width: 100%;
  padding: 0 5vw;
}
.all-wrapper .main-block-wrapper .main-block {
  width: 100%;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn {
  width: calc((100% - 20px) / 5);
  padding: 4px 0;
  border: #211816 3px solid;
  border-radius: 40px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #F6F2EB;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn.btn-on.all {
  background-color: #211816;
  color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn.btn-on.web {
  background-color: #3053F0;
  color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn.btn-on.gra {
  background-color: #D00C3E;
  color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn.btn-on.mov {
  background-color: #F5CE28;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn.btn-on.teacher {
  background-color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn .all:hover {
  background-color: #211816;
  color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn .web:hover {
  background-color: #3053F0;
  color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn .gra:hover {
  background-color: #D00C3E;
  color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn .mov:hover {
  background-color: #F5CE28;
}
.all-wrapper .main-block-wrapper .main-block .filter-btn-block .filter-btn .teacher:hover {
  background-color: #fff;
}
.all-wrapper .main-block-wrapper .main-block .chara-block-wrapper {
  width: 100%;
}
.all-wrapper .main-block-wrapper .main-block .chara-block-wrapper .chara-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4vw;
}
.all-wrapper .main-block-wrapper .main-block .chara-block-wrapper .chara-block li {
  width: 43vw;
  height: 43vw;
  background-color: #fff;
  border: #211816 4px solid;
  border-radius: 10px;
}
.all-wrapper .main-block-wrapper .main-block .chara-block-wrapper .chara-block li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-wrapper .main-block-wrapper .main-block .chara-block-wrapper .chara-block li a img {
  width: auto;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.all-wrapper.chara .main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-wrapper.chara .main-block .chara-image-block {
  position: relative;
  width: 80vw;
  height: 80vw;
  margin-top: 30px;
  background-color: #fff;
  border: #211816 6px solid;
  border-radius: 20px;
}
.all-wrapper.chara .main-block .chara-image-block .chara-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px;
  transform-style: preserve-3d;
  transition: 0.4s;
}
.all-wrapper.chara .main-block .chara-image-block .chara-image .c-img {
  position: absolute;
  width: auto;
  height: 74vw;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.all-wrapper.chara .main-block .chara-image-block .chara-image .c-img.c-main {
  transform: rotateY(0deg);
}
.all-wrapper.chara .main-block .chara-image-block .chara-image .c-img.c-hover {
  transform: rotateY(180deg);
}
.all-wrapper.chara .main-block .chara-image-block .chara-image.rotate-on {
  transform: rotateY(180deg);
}
.all-wrapper.chara .main-block .chara-image-block .rotate {
  position: absolute;
  bottom: -20px;
  right: -20px;
  cursor: pointer;
}
.all-wrapper.chara .main-block .person-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
.all-wrapper.chara .main-block .person-block .name {
  font-size: 2.4rem;
}
.all-wrapper.chara .main-block .person-block .major {
  padding: 4px 12px;
  border: #211816 3px solid;
  border-radius: 40px;
  font-size: 1.4rem;
  text-align: center;
  background-color: #F6F2EB;
}
.all-wrapper.chara .main-block .detail-block {
  width: 100%;
  margin-top: 20px;
  border: #211816 solid 4px;
  border-radius: 10px;
}
.all-wrapper.chara .main-block .detail-block dl dt,
.all-wrapper.chara .main-block .detail-block dl dd {
  padding: 10px;
  font-size: 1.4rem;
}
.all-wrapper.chara .main-block .detail-block dl dt {
  background-color: #211816;
  color: #fff;
  font-weight: lighter;
}
.all-wrapper.chara .main-block .detail-block dl dd {
  background-color: #fff;
}
.all-wrapper.chara .main-block .to-main {
  padding: 4px 20px;
  background-color: #fff;
  border: #211816 solid 3px;
  border-radius: 40px;
  margin-top: 40px;
  font-size: 1.4rem;
  transition: 0.4s;
}
.all-wrapper.chara .main-block .to-main:hover {
  background-color: #211816;
  color: #fff;
}
.all-wrapper footer {
  width: 100vw;
  margin-top: 40px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background-color: #211816;
}/*# sourceMappingURL=style.css.map */